PROJECT_ROOT=G:\shixi\May\code\syn_image_detach\safepp_pytorch
PYTHON_BIN=C:\Users\LENOVO\.conda\envs\pytorch\python.exe
BASH_BIN=D:/java/git/Git/bin/bash.exe
DATA_ROOT=G:\shixi\May\code\syn_image_detach\safepp_pytorch\data
OUTPUT_ROOT=G:\shixi\May\code\syn_image_detach\safepp_pytorch\outputs
